.elist {
  width: 98vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 5vw;
  padding-right: 4vw;
}

.search {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 4vw;
  gap: 1vw;
}

.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0.75rem;
}

.heading,
.top_heading {
  width: 100%;
  background-color: rgb(212, 210, 210);
}

.heading td,
.top_heading td {
  width: 10vw;
  text-align: center;
}

.top_heading {
  background-color: rgb(5, 182, 182);
}

.button {
  background-color: rgb(126, 201, 14);
  padding: 0.3rem;
  color: white;
}

.button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}
